@using BlochsTech.Website.Base.Helper
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BlochsTech</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64071780-1', 'auto');
	  ga('send', 'pageview');
	</script>
</head>
<body>
    <div id="wrap">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BlochsTech", "Index", "Buy", new { area = "" }, new { @class = "navbar-brand" })
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="@Html.IsSelected(action: "Index")">@Html.ActionLink("Buy", "Index", "Buy")</li>
                        <li class="@Html.IsSelected(action: "TerminalApps")">@Html.ActionLink("Terminal Apps", "TerminalApps", "Home")</li>
                        <li class="@Html.IsSelected(action: "Info")">@Html.ActionLink("Info", "Info", "Home")</li>
                        <li class="@Html.IsSelected(action: "Company")">@Html.ActionLink("Company", "Company", "Home")</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div id="main" class="container clear-top">
            <br />
            <br />
            <br />
            @RenderBody()
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="centered">&copy; @DateTime.Now.Year - BlochsTech</p>
        </div><!-- /container -->
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
